[mysqld]
  # while INSERT prevents error "Field xxx doesn’t have a default value" (remove STRICT_TRANS_TABLES from sql_mode)
  sql_mode=ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
